@use 'src/assets/themes/minty/variables' as minty;
@use 'bulma/sass/utilities/initial-variables' as bulma;

:host {
  --start-range: 0%;
  --end-range: 100%;

  position: relative;
  border: none;
  border-radius: bulma.$radius-rounded;
  display: block;
  height: 1rem;
  overflow: hidden;
  padding: 0;
  width: 100%;
  background-color: bulma.$grey-lightest;

  > .selected-range {
    position: absolute;
    border: none;
    border-radius: minty.$radius;
    display: block;
    height: 100%;
    left: var(--start-range);
    right: var(--end-range);
    background-color: minty.$primary;
  }

  $colors:
    'primary' minty.$primary,
    'info' minty.$info,
    'success' minty.$green,
    'warning' minty.$warning,
    'danger' minty.$red;

  @each $name, $color in $colors {
    &.is-#{$name} > .selected-range {
      background-color: $color;
    }
  }
}
