<nav class="navbar">
  <div class="navbar-brand">
    <a [routerLink]="'/' | localize" class="navbar-item">
      <img src="/assets/Speedons.png" class="logo" alt="Speedons logo"/>
    </a>

    <button class="button navbar-burger" [class]="isActiveClass" (click)="toggleNavbarActive()">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>

  <div class="navbar-menu" [class]="isActiveClass">
    <div class="navbar-start">
      <div class="navbar-item field is-grouped">
        <a href="https://discord.gg/ApZ5ReS" class="navbar-item" target="_blank"
          [nwbToolTip]="'navbar.discord' | translate" nwbToolTipPosition="bottom">
          <fa-icon [icon]="iconDiscord"></fa-icon>
        </a>
        <a href="https://bsky.app/profile/did:plc:nn3alexdpkchkrmj25ep6goh" rel="me" class="navbar-item" target="_blank"
          [nwbToolTip]="'Suivez nous sur BlueSky !'" nwbToolTipPosition="bottom">
          <fa-icon [icon]="iconBlueSky"></fa-icon>
        </a>
    </div>
  </div>



  <div class="navbar-end">
    @if (userService.user && userService.isAdmin()) {
      <div class="navbar-item">
        <button class="button is-primary" [routerLink]="'/marathon/new' | localize">
          {{'navbar.createMarathon' | translate}}
        </button>
      </div>
    }
    <a href="https://speedons.fr" class="navbar-item">
      {{ 'navbar.about' | translate }}
    </a>
    <app-header-language-picker class="navbar-item pr-0"></app-header-language-picker>
    @if (userService.user) {
      <app-header-bar-user class="navbar-item pl-0"></app-header-bar-user>
    } @else {
      <a [routerLink]="'/login' | localize" login-link class="navbar-item">
        {{ 'navbar.login.title' | translate }}
      </a>
      <a [routerLink]="'/register' | localize" class="navbar-item">
        {{ 'navbar.register' | translate }}
      </a>
    }
  </div>
</div>
</nav>
