<div class="card {{gameStatus}}">
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4 has-text-dark">
          {{ game.name }} - {{ game.console }}@if (game.emulated) {
          <sup>{{ 'global.emu' | translate }}</sup>
        }
          @if (showDelete) {
            <app-delete-button
              [baseText]="'marathon.submissions.game.delete' | translate"
              [confirmText]="'action.confirm' | translate"
              [cancelText]="'action.cancel' | translate"
              (confirmHandler)="deleteGame.next()"
            ></app-delete-button>
          }
        </p>
        <p class="subtitle is-6 has-text-dark">
          @for (theme of game.themes; track theme){
            <span class="tag is-info is-small" [style]="'margin-right: 2px'">{{theme}}</span>
          }
        </p>
        <p class="subtitle is-6 has-text-dark">
          <b>Pourquoi présenter ce jeu ?</b><br/>
          <app-simple-md [data]="game.description"></app-simple-md>
        </p>


        @for (category of game.categories; track category) {
          <app-submission-category
            [category]="category"
            [marathon]="marathon"
            [rawStatus]="getRawStatus(category)"
            [showDelete]="showDelete"
            (triggerDelete)="deleteCategory.next(category.id)"
          ></app-submission-category>
        }
        @if (!!game.contentWarnings){
          <span class="subtitle is-6">Content Warnings: {{ game.contentWarnings }}</span>
        }
      </div>
    </div>
  </div>
</div>
