@import "src/assets/themes/minty/variables";

/*:host {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);

  > * {
    margin: 0;
  }
}*/

hr {
  border: 1px solid $grey-light;
}

.searchInput {
  &:focus, &:focus-visible {
    border: 5px solid orange;
  }
}
