@use 'src/assets/themes/minty/variables' as minty;

:host {
  padding-block: var(--spacing);
}

.tabs {
  margin: 0;

  li a {
    background-color: minty.$grey-dark;
  }

  li.is-active a {
    color: minty.$yellow-invert;
    background-color: minty.$yellow;
  }
}

.history-view-container {
  border-color: minty.$grey-dark;
  border-style: solid;
  border-width: 0 2px 2px;
  padding: var(--spacing);
}
